* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.headline {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  color: white;
  background-color: slateblue;
}
.headline-text {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}
