button.save {
  background-color: green;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
}

button.save {
  background-color: grey;
  color: black;
  border: black solid 1px;
  border-radius: 5px;
}
