.post_form {
  display: grid;
  grid-template-rows: auto repeat(3, 25px) 1fr;
  margin-left: 5rem;
  background-color: rgb(212, 108, 129);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 2rem;
  row-gap: 5px;
}

input {
  margin-left: 2rem;
}

label {
  font-size: 1rem;
}

.post_submit {
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bolder;
}
