* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: fit-content;
  position: relative;
}
.shorter-header {
  max-height: 150px;
}
.logout-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: transparent;
  height: 100px;
  width: 100px;
  background-image: url("../assets/cutebread.svg");
  object-fit: contain;
  z-index: 1;
}
.head-buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-area: buttons;
  gap: 5px;
  padding: 10px;
}
.head-buttons .crimsion-color {
  background-color: tomato;
}
.post_page {
  width: 100vw;
  overflow: scroll;
}
.profile {
  display: grid;
  grid-template:
    "avatar name" 100px
    "buttons buttons" 30px/
    70px auto;
  background-color: #00000020;
  border-radius: 30px;
  width: 20rem;
  height: 10rem;
  margin: 3rem;
  align-items: center;
  gap: 10px;
}
h3.name {
  grid-area: name;
  padding-left: 40px;
}
img.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem;
  grid-area: avatar;
}

h3 {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
}
.address-p {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
}
.feed-mason {
  column-count: 4;
  margin: 50px auto;
  overflow: scroll;
  padding: 10px 50px;
}
.feed {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  row-gap: 20px;
}

article.post {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 10px 5px;
  border-radius: 20px;
  background-color: #00ffff30;
  border: 4px solid rgb(248, 228, 190);
  gap: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  flex: 1 0 33%;
  z-index: 1;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 13px;
}
.delete-btn:hover {
  transform: scale(1.1);
  filter: saturate(1.5);
}
.post-user {
  display: grid;
  position: absolute;
  left: -20px;
  top: -20px;
  align-content: center;
  height: 60px;
  z-index: 1;
}
.post_info p {
  max-width: 60ch;
}
.postuser-avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50px;
  border: 4px #1488a6 dotted;
}
.postuser-name {
  background-color: #1488a6;
  text-align: center;
  color: white;
  border-radius: 3px;
  padding: 2px;
}

.post_form {
  display: grid;
  grid-template-rows: auto repeat(3, 50px);
  margin-left: 5rem;
  background-color: pink;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 2rem;
  row-gap: 10px;
  place-items: center;
}

.post_form_heading {
  text-align: left;
  margin: 0;
}

input {
  margin-left: 2rem;
  display: block;
  width: 15rem;
}

label {
  font-size: 1rem;
  display: block;
}
.add-btn {
  background-color: tomato;
}
.new_post_submit {
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bolder;
  margin: 0;
  text-decoration: none;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(20deg, slateblue, lightseagreen);
  color: aliceblue;
}
.new_post_submit:hover {
  filter: contrast(1.5);
  transform: scale(1.1);
}
.new_post_submit:active {
  filter: contrast(1.5);
  transform: scale(1.1);
}

.post_picture {
  width: 300px;
  height: 100%;
  align-self: center;
  object-fit: contain;
  margin: 5px;
  border-radius: 20px;
}
.post_picture:hover {
  filter: contrast(1.5);
}

.post_info {
  display: grid;
  grid-template-rows: auto;
  gap: 5px;
}

.likes {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  cursor: pointer;
}

svg {
  display: inline-block;
}

.comment_form {
  display: grid;
  grid-template-columns: 260px 1fr;
  justify-self: center;
}
.comment-label {
  margin-left: 10px;
  display: grid;
  grid-template-rows: auto;
}
.comment-text {
  width: 15rem;
  margin-top: 5px;
}

.comment-submit {
  width: 60px;
  height: 50px;
  border-radius: 10px;
  background-color: indianred;
  font-weight: bolder;
  border: none;
  margin-right: 10px;
}
.comment-submit:active {
  filter: saturate(1.2);
}
.comment-submit:hover {
  filter: saturate(2);
}
.comment {
  background-color: antiquewhite;
  display: grid;

  margin: 1rem;
  border-radius: 20px;
  place-items: center;
  position: relative;
}

img.post_avatar {
  grid-area: post_avatar;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  position: absolute;
  right: -5px;
  bottom: 0px;
}

.username {
  grid-area: username;
}

.tag {
  font-weight: bolder;
  display: grid;
  place-items: center;
  background-color: lightseagreen;
  max-width: 100px;
  text-align: center;
  height: 30px;
  border-radius: 10px;
}
.add-new-tag-btn {
  width: 200px;
  margin: 10px;
  background-color: tomato;
}
.tags-display {
  display: grid;
  grid-template-columns: repeat(5, minmax(60px, 80px));
}
.default {
  background-color: deeppink;
  padding: 5px;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
}
.chinese {
  background-color: gold;
}
.italian {
  background-color: rgb(178, 66, 32);
}
.spicy {
  background-color: red;
}
.sweet {
  background-color: pink;
}
.british {
  background-color: slateblue;
}
.bri {
  background-color: slateblue;
}
.thai {
  background-color: turquoise;
}
.amercian {
  background-color: brown;
}
.japanse {
  background-color: white;
}
.indian {
  background-color: indianred;
}
.form {
  border: 2px solid black;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.tag-form {
  display: grid;
  grid-template-columns: auto;
  width: fit-content;
  gap: 10px;
}
.tag-form select {
  border: none;
  background-color: pink;
  height: 30px;
  border-radius: 10px;
  padding-left: 20px;
  font-size: larger;
}
.select-div {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.select-div button {
  height: 30px;
  font-size: medium;
}

.display-more-tag-form-btn {
  background-color: plum;
  /* width: 40ch; */
}
.comment_content {
  width: 300px;
  padding-left: 20px;
}
.create-tag-form {
  display: flex;
  gap: 10px;
}

.create-tag-form button {
  background: rgb(153, 214, 184);
  color: black;
}
@media only screen and (max-width: 1300px) {
  header {
    flex-direction: column;
  }
  .feed-mason {
    column-count: 3;
  }
}

@media only screen and (max-width: 900px) {
  header {
    flex-direction: column;
    align-items: center;
    place-content: center;
  }
  h3 {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .profile {
    width: 15rem;
  }
  .feed-mason {
    column-count: 2;
  }
}
@media only screen and (max-width: 600px) {
  .feed-mason {
    column-count: 1;
  }
}
