* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://preview.pixlr.com/images/800wm/100/1/1001152062.jpg");
  background-color: none;
}

header {
  display: flex;
}
.post_page {
  width: 100vw;
  overflow: scroll;
}
.profile {
  display: grid;
  grid-template-columns: 125px auto;
  background-color: #00000020;
  border-radius: 30px;
  width: 20rem;
  height: 10rem;
  margin: 3rem;
  align-items: center;
}

img.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem;
}

h3 {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
}

.feed {
  column-count: 3;
  column-gap: 0px;
  padding: 5rem;
  row-gap: 20px;
}

article.post {
  display: grid;
  /* display: inline-block; */
  grid-template-rows: auto;
  justify-content: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 10px 5px;
  border-radius: 20px;
  background-color: lightsalmon;
  border: 4px solid rgb(248, 228, 190);
  gap: 5px;
  font-weight: bold;
}

.post-user {
  display: grid;
  position: absolute;
  left: -20px;
  top: -20px;
  align-content: center;
  height: 60px;
  z-index: 1;
}
.post_info p {
  max-width: 25ch;
}
.postuser-avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50px;
  border: 4px #1488a6 dotted;
}
.postuser-name {
  background-color: #1488a6;
  text-align: center;
  color: white;
  border-radius: 3px;
  padding: 2px;
}

.post_picture {
  width: 300px;
  height: 100%;
  align-self: center;
  object-fit: contain;
  margin: auto;
  border-radius: 20px;
  border: 7px solid teal;
}

.post_info {
  margin-left: 4rem;
  display: grid;
  grid-template-rows: auto;
  gap: 5px;
}

.likes {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
}

svg {
  display: inline-block;
}

.comment_form {
  display: grid;
  grid-template-columns: 260px 1fr;
  /* align-items: center; */
  justify-self: center;
}
.comment-label {
  margin-left: 10px;
  display: grid;
  grid-template-rows: auto;
}
.comment-text {
  width: 15rem;
  margin-top: 5px;
}

.comment-submit {
  width: 60px;
  height: 50px;
  border-radius: 10px;
  background-color: azure;
  font-weight: bolder;
  border: none;
  margin-right: 10px;
}

.comment {
  background-color: antiquewhite;
  display: grid;
  grid-template:
    "comment_content comment_content post_avatar" 50px
    "comment_content comment_content username" auto/
    100px 100px auto;

  margin: 1rem;
  padding: 2rem;
  border-radius: 20px;
  place-items: center;
}

.comment_content {
  grid-area: comment_content;
}

img.post_avatar {
  grid-area: post_avatar;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.username {
  grid-area: username;
}

.tags {
  display: grid;
  grid-template-columns: auto;
}

.tag {
  font-weight: bolder;
  display: grid;
  place-items: center;
  background-color: lightseagreen;
  max-width: 100px;
  text-align: center;
  height: 30px;
  border-radius: 10px;
}

@media only screen and (max-width: 1300px) {
  header {
    flex-direction: column;
  }
  .feed {
    column-count: 2;
  }
}

@media only screen and (max-width: 900px) {
  header {
    flex-direction: column;
    align-items: center;
    place-content: center;
  }
  h3 {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .profile {
    width: 15rem;
  }
  .feed {
    column-count: 1;
  }
}
