main.profile-page {
  display: grid;
  grid-template-rows: 150px auto;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

h2.edit-profile-title {
    font-size: 2rem;
    font-weight: bold;
    align-self: end;
}

form.edit-profile-form {
  display: grid;
  background-color: cornsilk;
  grid-template-rows: auto;
  gap: 10px;
  padding: 3rem;
  border-radius: 10px;
}

label.edit-profile-label {
    font-weight: bold;
}

button.edit-profile-submit {
    justify-self: right;
    width: 150px;

}