/* main.profile-page {
  display: grid;
  grid-template-rows: 100px 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
} */

.profile-page-big {
  height: 100vh;
  display: block;
  padding: auto;
}

h2.edit-profile-title {
  font-size: 3rem;
  font-weight: bolder;
}

div.profile-to-edit {
  display: grid;
  grid-template-rows: 225px auto;
  gap: 10px;
  font-size: 1.5rem;
  align-items: start;
  justify-content: center;
}

img.edit-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

div.edit-avatar {
  display: grid;
  grid-template-columns: 200px auto;
  place-items: center;
  gap: 20px;
}

div.edit-element {
  display: grid;
  grid-template-columns: auto 100px;
  font-weight: bold;
}

button.edit-profile {
  width: 100px;
  height: 30px;
  background-color: crimson;
  justify-self: center;
}
